@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
*{
    box-sizing: border-box;
}
html{
    margin: 0;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
  /*display: flex;*/
    overflow: hidden;
    font-family: 'Mulish', sans-serif;
}
header {
    height: 80px;
}
.container{

    display: flex;

    min-height: calc(100vh - (145px));
    text-align: center;
    flex-direction: column;
    flex: 0 1 auto;
}

.footer{
    height: 25px;
    margin-top: 40px;
}


/* login */
