{% extends 'users/base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
{% endblock %}
{% block title %}Poll System{% endblock title %}
{% block content %}
<h2 style="text-align: start">Created Surveys:</h2>
{% for survey in admin_created_surveys %}
    <a href="{% url 'polls:edit_survey' id=survey.id %}" style="text-decoration: none; margin-top: 10px; margin-left: 20px;">
<div class="card">
  <div class="card-body" style="text-align: start">
      <h5 class="card-title">{{survey.title}}</h5>
  </div>
</div>
  </a>
{% endfor %}
<a href="{% url 'polls:create_survey' %}" style="text-align: left; margin-top: 10px; margin-left: 20px"><button class="btn btn-secondary">create new survey</button></a>
{% endblock content %}
{#<html>#}
{#<head>#}
{#    <title>jog</title>#}
{#</head>#}
{#<body>#}
{#<div>#}
{#    <p>hello</p>#}
{#</div>#}
{#</body>#}
{#</html>#}