{% extends 'users/base.html' %}
{% load static %}

{% block head_css %}
<link rel="stylesheet" href="{% static 'users/css/style.css' %}">
<link rel="stylesheet" href="{% static 'users/css/login.css' %}">
{% endblock %}
{% block title %}Poll System{% endblock title %}
{% block special_navbar %}
<li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Login</a></li>
{% endblock %}
{% block content %}
    <div class="">
    <a href="{% url 'users:admin_register' %}" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Survey Creator Register</h5>
    <h6 class="card-subtitle mb-2 text-muted">for <br> teachers, admin students...</h6>

  </div>
</a>
    <p class="">if you want to create a new survey.</p>
    </div>

    <div class="">
    <a href="{% url 'users:user_register' %}" class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Survey Taker Register</h5>
    <h6 class="card-subtitle mb-2 text-muted">for <br> staff, students, ...</h6>
  </div>
</a>
    <p class="">if you want to participate in a survey.</p>
    </div>

{% endblock content %}
